.grid
  padding-top: 70px
  &__title
    margin-bottom: 40px
    font-weight: 700
    font-size: 24px
    line-height: 33px
    color: #000000
  &__grid-list
    display: grid
    grid-template-columns: repeat(auto-fit, 250px)
    grid-template-rows: repeat(auto-fill, 1fr)
    justify-content: center
    gap: 60px 20px

main>section:last-child
  padding-bottom: 70px

.grid-card
  display: flex
  flex-direction: column
  &__img
    padding-left: 15px
    padding-right: 15px
    margin-bottom: 5px
  &__wrapper
    display: flex
    flex-direction: column
    flex-grow: 1
  &__img:hover
    transform: translateY(5px)
  &__title
    margin-bottom: 10px
    max-width: 201px

    font-weight: 600
    font-size: 20px
    line-height: 27px
    color: #000000
  &__text
    margin-bottom: 20px
    flex-grow: 1

    font-weight: 400
    font-size: 14px
    line-height: 19px
    color: #73798C
  &__text_type_pizza
    width: 224px
  &__text_type_combo
    width: 235px
  &__text_type_snacks
    width: 235px
  &__text_type_desserts
    width: 235px
  &__text_type_drinks
    width: 235px

.grid-card-footer
  display: flex
  justify-content: space-between
  &__price
    margin-top: 10px

    font-weight: 600
    font-size: 16px
    line-height: 22px
    color: #000000
  &__button
    margin-right: 20px
    width: 120px
    height: 40px

    font-weight: 600
    font-size: 16px
    line-height: 22px
    text-align: center

    border-radius: 1000px

  &__button_type_primary
    color: #FFFFFF
    background: #F96900
    transition: all 0.25s

  &__button_type_primary:hover
    background: #ED5D08

  &__button_type_primary:active
    color: #fcbc8e
    background: #F96900

  &__button_type_secondary
    color: #D15700
    background: #FFF0E6
    transition: all 0.25s

  &__button_type_secondary:hover
    color: #D55406
    background: #FFD0B2

  &__button_type_secondary:active
    opacity: 0.6

@media (max-width: 552px)
  .grid-list
    grid-template-columns: 288px
    justify-content: center  
  .grid-card
    flex-direction: row
    padding-top: 16px
    &__img
      padding: 0
      margin: 0
      margin-right: 8px
      width: 115px
      height: 115px
    &__title
      padding-right: 6px
      margin-bottom: 4px
      width: 160px

      font-size: 18px
      line-height: 20px
    &__text
      margin-bottom: 8px

      font-size: 12px
      line-height: 16px
    &__text_type_pizza, &__text_type_combo, &__text_type_snacks, &__text_type_desserts, &__text_type_drinks
      width: 156px
  .grid-card-footer
    flex-direction: column
    &__price
      margin: 0
    &__button
      margin: 0 
