.footer
  padding-top: 50px
  padding-bottom: 36px
  background-color: #464C55
  &__grid
    display: grid
    grid-template-columns:180px 160px 200px 244px 276px
    grid-template-rows: 289px 122px 72px
    grid-template-areas: "dodo-pizza job partners it-is-interesting contacts" "revenue revenue number-of-pizzerias number-of-pizzerias number-of-pizzerias" "logo-and-copyright logo-and-copyright legal-information legal-information  social-media"
    padding-top: 0
 
.grid
  &__dodo-pizza
    display: flex
    flex-direction: column
    gap: 10px 0
    grid-area: dodo-pizza
  &__job
    @extend .grid__dodo-pizza
    grid-area: job
  &__partners
    @extend .grid__dodo-pizza
    grid-area: partners
    padding-left: 20px
  &__it-is-interesting
    @extend .grid__dodo-pizza
    grid-area: it-is-interesting
  &__contacts
    display: flex
    flex-direction: column
    grid-area: contacts
  &__revenue
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
    grid-area: revenue
  &__number-of-pizzerias
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
    padding-left: 115px
    padding-right: 364px
    grid-area: number-of-pizzerias
  &__logo-and-copyright
    padding-top: 46px
    grid-area: logo-and-copyright
  &__legal-information
    display: flex
    justify-content: space-between
    padding-top: 46px
    grid-area: legal-information
  &__social-media
    display: flex
    gap: 0 6px
    justify-content: flex-end
    padding-top: 40px
    grid-area: social-media

.dodo-pizza
  &__title
    font-weight: 600
    font-size: 18px
    line-height: 26px
    color: #FFFFFF
  &__link
    display: block

    font-weight: 400
    font-size: 18px
    line-height: 26px
    color: #FFFFFF
    opacity: 0.7

    text-decoration: none
  &__link:hover
    opacity: 1
  &__link:active
    font-weight: 600

.job
  max-width: 147px
  &__title
    @extend .dodo-pizza__title
  &__link
    @extend .dodo-pizza__link
  
.partners
  &__title
    @extend .dodo-pizza__title
  &__link
    @extend .dodo-pizza__link

.it-is-interesting
  max-width: 166px
  &__title
    @extend .dodo-pizza__title
  &__link
    @extend .dodo-pizza__link

.contacts
  &__market
    display: flex
    justify-content: space-between
    margin-bottom: 29px
  &__telephone
    @extend .dodo-pizza__title

    display: block
    margin-bottom: 6px

    font-size: 26px
    text-align: right
    text-decoration: none
  &__text
    margin-bottom: 26px

    font-weight: 400
    font-size: 15px
    line-height: 20px
    text-align: right
    color: #FFFFFF
    opacity: 0.5
  &__email
    display: block
    margin-bottom: 26px

    font-weight: 400
    font-size: 15px
    line-height: 20px
    text-align: right
    color: #FFFFFF
    opacity: 0.9
    text-decoration: none

.revenue
  &__number
    @extend .dodo-pizza__title
    margin-bottom: 12px

    font-size: 26px
  &__text
    max-width: 299px
    font-weight: 400
    font-size: 16px
    line-height: 22px
    color: #FFFFFF
    opacity: 0.7

.number-of-pizzerias
  &__number
    @extend .revenue__number
  &__text
    @extend .revenue__text

.legal-information
  &__link
    @extend .revenue__text
    text-decoration: none

@media (max-width: 1110px)
  .footer__grid
    grid-template-columns: repeat(2, 45%)
    grid-template-rows: repeat(auto-fit, minmax(52px, 192px)) 
    grid-template-areas: "dodo-pizza job"  "partners  it-is-interesting" "contacts social-media" "legal-information legal-information" "logo-and-copyright logo-and-copyright"
    justify-content: center
    justify-self: start
  .footer
    padding-top: 20px
    padding-bottom: 20px
    &__grid
      padding-bottom: 0
  .grid
    &__dodo-pizza, &__job, &__it-is-interesting
      max-width: 100%
      padding-left: 60px
    &__partners, &__it-is-interesting, &__contacts, &__social-media
      border-bottom: 1px solid rgba(255, 255, 255, 0.1)
    &__partners
      padding: 0
      padding-bottom: 20px
      padding-left: 60px
    &__contacts
      flex-direction: column-reverse
    &__revenue, &__number-of-pizzerias
      display: none
    &__logo-and-copyright
      margin: 0 auto
      padding-top: 30px
    &__legal-information
      justify-content: space-around
      padding: 0
      padding-top: 20px
      padding-bottom: 20px
      border-bottom: 1px solid rgba(255, 255, 255, 0.1)
    &__social-media
      padding: 0
      justify-content: center
      align-items: center
  .contacts
    &__market
      gap: 0 10px
      margin-bottom: 20px
    &__telephone, &__text
      display: none
    &__email
      text-align: center
      padding-top: 20px
      margin-bottom: 20px

      font-size: 16px
      line-height: 22px
  .dodo-pizza
    &__title
      font-size: 16px
      line-height: 24px
    &__link
      font-size: 16px
      line-height: 24px

@media (max-width: 700px)
  .footer__grid
    grid-template-columns: 281px
    grid-template-rows: repeat(auto-fill, 1fr) 
    grid-template-areas: "dodo-pizza" "job"  "partners"  "it-is-interesting" "contacts" "social-media"  "legal-information" "logo-and-copyright"
    justify-content: center
    justify-self: start
  .grid
    &__dodo-pizza, &__job, &__partners
      padding: 0
      margin-bottom: 30px
    &__partners
      border-bottom: 0
    &__it-is-interesting
      padding: 0
      margin-bottom: 0
      padding-bottom: 19px
      border-bottom: 0
      border-bottom: 1px solid rgba(255, 255, 255, 0.1)
    &__social-media
      justify-content: start
      padding-bottom: 19px
    &__contacts
      border-bottom: 0
    &__legal-information
      flex-direction: column
      gap: 10px 0
      border-bottom: 0
      padding-bottom: 0
    &__logo-and-copyright
      padding-top: 30px
  .contacts
    &__email
      text-align: left
