.grid
  padding-top: 70px
  &__title
    margin-bottom: 40px
    font-weight: 700
    font-size: 24px
    line-height: 33px
    color: #000000
  &__grid-list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(2, 1fr)
    gap: 60px 20px

main>section:last-child
  padding-bottom: 70px

.grid-card
  display: flex
  flex-direction: column
  &__img
    padding-left: 15px
    padding-right: 15px
    margin-bottom: 5px
  &__title
    margin-bottom: 10px
    max-width: 201px

    font-weight: 600
    font-size: 20px
    line-height: 27px
    color: #000000
  &__text
    margin-bottom: 11px
    flex-grow:1

    font-weight: 400
    font-size: 14px
    line-height: 19px
    color: #73798C
  &__text_type_pizza
    width: 224px
  &__text_type_combo
    width: 235px
  &__text_type_snacks
    width: 235px
    margin-bottom: 20px
  &__text_type_desserts
    width: 235px
    margin-bottom: 20px
  &__text_type_drinks
    width: 235px
    margin-bottom: 20px

.grid-card-footer
  display: flex
  justify-content: space-between
  &__price
    margin-top: 10px

    font-weight: 600
    font-size: 16px
    line-height: 22px
    color: #000000
  &__button
    margin-right: 20px
    width: 120px
    height: 40px

    font-weight: 600
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #FFFFFF

    background: #F96900
    border-radius: 1000px