.footer
  padding-top: 50px
  padding-bottom: 36px
  background-color: #464C55
  &__grid
    display: grid
    grid-template-columns:180px 180px 180px 244px 276px
    grid-template-rows: 289px 122px

.grid>p
  border: 1px solid black

.grid>p:nth-child(6)
  grid-column: span 2

.grid>p:nth-child(7)
  grid-column: span 2