.menu
  padding-top: 25px
  padding-bottom: 30px
  &__header
    margin-bottom: 31px
  &__navbar
    display: flex
    justify-content: space-between

.header
  display: flex
  justify-content: space-between
  &__left
    display: flex
    column-gap: 14.67px
  &__telephone


.title
  &__logo
    padding-top: 3px
    margin-bottom: 7px
  &__text
    font-weight: 400
    font-size: 12px
    line-height: 16px
    color: #343434

.telephone
  &__number
    font-weight: 600
    font-size: 18px
    line-height: 25px
    color: #000000
    text-decoration: none
  &__text
    font-weight: 400
    font-size: 15px
    line-height: 20.46px
    color: #999999
    text-align: right

.navbar
  &__list
    display: flex
    gap: 24px
  &__button
    width: 104px
    height: 40px
    
    font-weight: 600
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #FFFFFF

    background: #F96900
    border-radius: 1000px

  &__button:hover
    background: #ED5D08

  &__button:active
    color: #fcbc8e
    background: #F96900


.list
  &__link
    padding-top: 10px
    
    font-weight: 400
    font-size: 14px
    line-height: 19px
    color: #000000
    text-decoration: none
  &__link:hover
    color: #F96900
    transition: color 0.25s
  &__link:active
    transition: 0.25s
    transform: scale(1.05, 1.05)
    font-weight: 600

@media (max-width: 768px)
  .menu
    padding-top: 12px
    padding-bottom: 21px
  .title__text, .telephone, .navbar
    display: none
  .title__logo
    height: 14.04px
    padding: 0
    margin: 0 auto
  .left__logo
    width: 22.5px
    height: 23px
  .left
    align-items: center
  .menu__header
    margin: 0