html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
button,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
img,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular");
  src: url(../fonts/Nunito-Regular.woff2) format("woff2");
  src: url(../fonts/Nunito-Regular.woff) format("woff");
}
@font-face {
  font-family: "Nunito";
  font-weight: 600;
  src: local("Nunito SemiBold"), local("Nunito-SemiBold");
  src: url(../fonts/Nunito-SemiBold.woff2) format("woff2");
  src: url(../fonts/Nunito-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "Nunito";
  font-weight: 700;
  src: local("Nunito Bold"), local("Nunito-Bold");
  src: url(../fonts/Nunito-Bold.woff2) format("woff2");
  src: url(../fonts/Nunito-Bold.woff) format("woff");
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  font-family: "Nunito", "Open Sans", sans-serif;
}

@media (max-width: 1110px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.menu {
  padding-top: 25px;
  padding-bottom: 30px;
}
.menu__header {
  margin-bottom: 31px;
}
.menu__navbar {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
  -moz-column-gap: 14.67px;
       column-gap: 14.67px;
}
.title__logo {
  padding-top: 3px;
  margin-bottom: 7px;
}
.title__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #343434;
}

.telephone__number {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  text-decoration: none;
}
.telephone__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20.46px;
  color: #999999;
  text-align: right;
}

.navbar__list {
  display: flex;
  gap: 24px;
}
.navbar__button {
  width: 104px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background: #F96900;
  border-radius: 1000px;
}
.navbar__button:hover {
  background: #ED5D08;
}
.navbar__button:active {
  color: #fcbc8e;
  background: #F96900;
}

.list__link {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}
.list__link:hover {
  color: #F96900;
  transition: color 0.25s;
}
.list__link:active {
  transition: 0.25s;
  transform: scale(1.05, 1.05);
  font-weight: 600;
}

@media (max-width: 768px) {
  .menu {
    padding-top: 12px;
    padding-bottom: 21px;
  }
  .title__text, .telephone, .navbar {
    display: none;
  }
  .title__logo {
    height: 14.04px;
    padding: 0;
    margin: 0 auto;
  }
  .left__logo {
    width: 22.5px;
    height: 23px;
  }
  .left {
    align-items: center;
  }
  .menu__header {
    margin: 0;
  }
}
.container-slider {
  padding-bottom: 70px;
}
.container-slider__img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 5px 20px rgba(115, 121, 140, 0.15));
  border-radius: 20px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container-slider {
    padding: 0;
    padding-bottom: 20px;
  }
}
.new-products__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}
.new-products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  overflow-x: auto;
}

.new-products__list::-webkit-scrollbar {
  display: none;
}

.list__item {
  width: 250px;
  height: 104px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  height: auto;
  display: flex;
  box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
  border-radius: 10px;
}
.list__item:hover {
  box-shadow: 0px 0px 15px rgba(6, 5, 50, 0.05);
}

.item__img {
  margin-right: 22px;
}
.text__title {
  padding-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.text__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 552px) {
  .new-products {
    padding-bottom: 30px;
  }
  .new-products__title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 27px;
  }
  .item {
    width: 240px;
    height: 108px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .item__img {
    margin-right: 8px;
    padding: 0;
    width: 86px;
    height: 86px;
  }
  .text__title {
    padding-top: 21px;
  }
}
.mobile-navbar {
  visibility: hidden;
  height: 0;
}

@media (max-width: 768px) {
  .mobile-navbar {
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    visibility: visible;
    height: 56px;
    margin-top: 17px;
    margin-bottom: 8px;
    overflow-x: scroll;
  }
  .mobile-navbar__wrapper {
    display: flex;
    gap: 0 8px;
    padding-top: 13px;
    padding-bottom: 12px;
  }
  .wrapper__button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 31px;
    padding-left: 15px;
    padding-right: 15px;
    background: #F3F3F7;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #464C55;
  }
  .wrapper__button:hover {
    background: #FFF0E6;
    color: #D15700;
  }
  .wrapper__button:hover {
    opacity: 0.6;
  }
  .mobile-navbar::-webkit-scrollbar {
    display: none;
  }
}
.grid {
  padding-top: 70px;
}
.grid__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}
.grid__grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(auto-fill, 1fr);
  justify-content: center;
  gap: 60px 20px;
}

main > section:last-child {
  padding-bottom: 70px;
}

.grid-card {
  display: flex;
  flex-direction: column;
}
.grid-card__img {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
}
.grid-card__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.grid-card__img:hover {
  transform: translateY(5px);
}
.grid-card__title {
  margin-bottom: 10px;
  max-width: 201px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.grid-card__text {
  margin-bottom: 20px;
  flex-grow: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #73798C;
}
.grid-card__text_type_pizza {
  width: 224px;
}
.grid-card__text_type_combo {
  width: 235px;
}
.grid-card__text_type_snacks {
  width: 235px;
}
.grid-card__text_type_desserts {
  width: 235px;
}
.grid-card__text_type_drinks {
  width: 235px;
}

.grid-card-footer {
  display: flex;
  justify-content: space-between;
}
.grid-card-footer__price {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.grid-card-footer__button {
  margin-right: 20px;
  width: 120px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border-radius: 1000px;
}
.grid-card-footer__button_type_primary {
  color: #FFFFFF;
  background: #F96900;
  transition: all 0.25s;
}
.grid-card-footer__button_type_primary:hover {
  background: #ED5D08;
}
.grid-card-footer__button_type_primary:active {
  color: #fcbc8e;
  background: #F96900;
}
.grid-card-footer__button_type_secondary {
  color: #D15700;
  background: #FFF0E6;
  transition: all 0.25s;
}
.grid-card-footer__button_type_secondary:hover {
  color: #D55406;
  background: #FFD0B2;
}
.grid-card-footer__button_type_secondary:active {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .grid {
    padding: 0;
    padding-bottom: 30px;
  }
  .grid__title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 27px;
  }
  main > section:last-child {
    padding-bottom: 40px;
  }
}
@media (max-width: 552px) {
  .grid {
    padding: 0;
    padding-bottom: 30px;
  }
  .grid__title {
    margin-bottom: 20px;
  }
  .grid__grid-list {
    grid-template-columns: 288px;
    justify-content: center;
  }
  main > section:last-child {
    padding-bottom: 40px;
  }
  .grid-card {
    flex-direction: row;
    padding-top: 16px;
  }
  .grid-card__img {
    padding: 0;
    margin: 0;
    margin-right: 8px;
    width: 115px;
    height: 115px;
  }
  .grid-card__title {
    padding-right: 6px;
    margin-bottom: 4px;
    width: 160px;
    font-size: 18px;
    line-height: 20px;
  }
  .grid-card__text {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
  }
  .grid-card__text_type_pizza, .grid-card__text_type_combo, .grid-card__text_type_snacks, .grid-card__text_type_desserts, .grid-card__text_type_drinks {
    width: 156px;
  }
  .grid-card-footer {
    flex-direction: column;
  }
  .grid-card-footer__price {
    margin: 0;
  }
  .grid-card-footer__button {
    margin: 0;
  }
}
.footer {
  padding-top: 50px;
  padding-bottom: 36px;
  background-color: #464C55;
}
.footer__grid {
  display: grid;
  grid-template-columns: 180px 160px 200px 244px 276px;
  grid-template-rows: 289px 122px 72px;
  grid-template-areas: "dodo-pizza job partners it-is-interesting contacts" "revenue revenue number-of-pizzerias number-of-pizzerias number-of-pizzerias" "logo-and-copyright logo-and-copyright legal-information legal-information  social-media";
  padding-top: 0;
}

.grid__dodo-pizza, .grid__it-is-interesting, .grid__partners, .grid__job {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  grid-area: dodo-pizza;
}
.grid__job {
  grid-area: job;
}
.grid__partners {
  grid-area: partners;
  padding-left: 20px;
}
.grid__it-is-interesting {
  grid-area: it-is-interesting;
}
.grid__contacts {
  display: flex;
  flex-direction: column;
  grid-area: contacts;
}
.grid__revenue {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  grid-area: revenue;
}
.grid__number-of-pizzerias {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 115px;
  padding-right: 364px;
  grid-area: number-of-pizzerias;
}
.grid__logo-and-copyright {
  padding-top: 46px;
  grid-area: logo-and-copyright;
}
.grid__legal-information {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  grid-area: legal-information;
}
.grid__social-media {
  display: flex;
  gap: 0 6px;
  justify-content: flex-end;
  padding-top: 40px;
  grid-area: social-media;
}

.dodo-pizza__title, .revenue__number, .number-of-pizzerias__number, .contacts__telephone, .it-is-interesting__title, .partners__title, .job__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}
.dodo-pizza__link, .it-is-interesting__link, .partners__link, .job__link {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.7;
  text-decoration: none;
}
.dodo-pizza__link:hover, .it-is-interesting__link:hover, .partners__link:hover, .job__link:hover {
  opacity: 1;
}
.dodo-pizza__link:active, .it-is-interesting__link:active, .partners__link:active, .job__link:active {
  font-weight: 600;
}

.job {
  max-width: 147px;
}
.it-is-interesting {
  max-width: 166px;
}
.contacts__market {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}
.contacts__telephone {
  display: block;
  margin-bottom: 6px;
  font-size: 26px;
  text-align: right;
  text-decoration: none;
}
.contacts__text {
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.5;
}
.contacts__email {
  display: block;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.9;
  text-decoration: none;
}

.revenue__number, .number-of-pizzerias__number {
  margin-bottom: 12px;
  font-size: 26px;
}
.revenue__text, .legal-information__link, .number-of-pizzerias__text {
  max-width: 299px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.7;
}

.legal-information__link {
  text-decoration: none;
}

@media (max-width: 1110px) {
  .footer__grid {
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(auto-fit, minmax(52px, 192px));
    grid-template-areas: "dodo-pizza job" "partners  it-is-interesting" "contacts social-media" "legal-information legal-information" "logo-and-copyright logo-and-copyright";
    justify-content: center;
    justify-self: start;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .grid {
    padding-bottom: 0;
  }
  .grid__dodo-pizza, .grid__partners, .grid__job, .grid__it-is-interesting {
    max-width: 100%;
    padding-left: 60px;
  }
  .grid__partners, .grid__it-is-interesting, .grid__contacts, .grid__social-media {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .grid__partners {
    padding: 0;
    padding-bottom: 20px;
    padding-left: 60px;
  }
  .grid__contacts {
    flex-direction: column-reverse;
  }
  .grid__revenue, .grid__number-of-pizzerias {
    display: none;
  }
  .grid__logo-and-copyright {
    margin: 0 auto;
    padding-top: 30px;
  }
  .grid__legal-information {
    justify-content: space-around;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .grid__social-media {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .contacts__market {
    gap: 0 10px;
    margin-bottom: 20px;
  }
  .contacts__telephone, .contacts__text {
    display: none;
  }
  .contacts__email {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
  }
  .dodo-pizza__title, .job__title, .partners__title, .it-is-interesting__title, .contacts__telephone, .revenue__number, .number-of-pizzerias__number {
    font-size: 16px;
    line-height: 24px;
  }
  .dodo-pizza__link, .job__link, .partners__link, .it-is-interesting__link {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 700px) {
  .footer__grid {
    grid-template-columns: 281px;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas: "dodo-pizza" "job" "partners" "it-is-interesting" "contacts" "social-media" "legal-information" "logo-and-copyright";
    justify-content: center;
    justify-self: start;
  }
  .grid__dodo-pizza, .grid__it-is-interesting, .grid__job, .grid__partners {
    padding: 0;
    margin-bottom: 30px;
  }
  .grid__partners {
    border-bottom: 0;
  }
  .grid__it-is-interesting {
    padding: 0;
    margin-bottom: 0;
    padding-bottom: 19px;
    border-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .grid__social-media {
    justify-content: start;
    padding-bottom: 19px;
  }
  .grid__contacts {
    border-bottom: 0;
  }
  .grid__legal-information {
    flex-direction: column;
    gap: 10px 0;
    border-bottom: 0;
    padding-bottom: 0;
  }
  .grid__logo-and-copyright {
    padding-top: 30px;
  }
  .contacts__email {
    text-align: left;
  }
}/*# sourceMappingURL=styles.css.map */